.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fef68a;
  padding: 1.5rem 1.5rem 1rem;
  border-radius: 1rem;
  min-height: 25rem;
  white-space: pre-wrap;
}

.noteText {
  overflow-wrap: break-word;
}

.noteFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deleteIcon {
  cursor: pointer;
  font-size: 1.8rem;
  transition: color 300ms;
}
.deleteIcon:hover {
  color: red;
}
