.projectWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 5.3rem);
  background-color: #eee;
  padding: 1.5rem;
  font-family: "Open Sans", sans-serif;
  overflow-y: auto;
}

.projectWrapper .aboutProject {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.projectWrapper .projectName,
.infoProject,
.linkToProject {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 2.1rem;
}

.projectWrapper .projectName span {
  color: #61dafb;
  font-weight: normal;
}

.projectWrapper .infoProject span {
  font-weight: normal;
  color: #61dafb;
}

.linkToProject > .linkBtn {
  color: #61dafb;
  transition: color 300ms;
  font-weight: normal;
}
.linkToProject > .linkBtn:hover {
  color: #2dc9f4;
}

.projectWrapper .imgProject {
  max-width: 60rem;
  max-height: 60rem;
}

/* responsive */
@media screen and (max-width: 768px) {
  .projectWrapper .aboutProject {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .projectWrapper .projectName,
  .infoProject,
  .linkToProject {
    font-size: 1.8rem;
  }

  .projectWrapper .imgProject {
    max-width: 50rem;
    max-height: 50rem;
  }
}

@media screen and (max-width: 525px) {
  .projectWrapper .aboutProject {
    font-size: 2.2rem;
  }
  .projectWrapper .projectName,
  .infoProject,
  .linkToProject {
    font-size: 1.6rem;
  }
  .projectWrapper .imgProject {
    max-width: 30rem;
    max-height: 30rem;
  }
}
