.projectWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 5.3rem);
  background-color: #eee;
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
  overflow-y: auto;
}
/* styled scrollbar */
.projectWrapper::-webkit-scrollbar {
  width: 5px;
}
.projectWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 5px;
}
.projectWrapper::-webkit-scrollbar-thumb {
  background: #61dafb;
  border-radius: 5px;
}
.projectWrapper::-webkit-scrollbar-thumb:hover {
  background: #2dc9f4;
}

.projectWrapper .projectName,
.infoProject,
.linkToProject {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 2rem;
  box-shadow: #61dafb 0px 0px 0px 3px;
}
.projectWrapper .projectName span {
  color: #61dafb;
  font-weight: bold;
}

.projectWrapper .infoProject span {
  font-weight: bold;
  color: #61dafb;
}
.projectWrapper .infoProject span .btn {
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  color: #2dc9f4;
  font-style: italic;
}

.linkToProject > .linkBtn {
  color: #61dafb;
  transition: color 300ms;
  font-weight: bold;
}
.linkToProject > .linkBtn:hover {
  color: #2dc9f4;
}

.projectWrapper .imgProject {
  max-width: 55rem;
  max-height: 55rem;
}

/* responsive */
@media screen and (max-width: 768px) {
  .projectWrapper .projectName,
  .infoProject,
  .linkToProject {
    font-size: 1.8rem;
  }

  .projectWrapper .infoProject span .btn {
    font-size: 1.8rem;
  }
  .projectWrapper .imgProject {
    max-width: 50rem;
    max-height: 50rem;
  }
}

@media screen and (max-width: 525px) {
  .projectWrapper .projectName,
  .infoProject,
  .linkToProject {
    font-size: 1.6rem;
  }
  .projectWrapper .infoProject span .btn {
    font-size: 1.6rem;
  }
  .projectWrapper .imgProject {
    max-width: 30rem;
    max-height: 30rem;
  }
}

@media screen and (max-width: 425px) {
  .projectWrapper {
    padding: 1.5rem;
  }
}
